<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>{"timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}", "level": "%-5level", "message": "%msg", "requestTraceId": "%X{requestTraceId}","error.class": "%ex{short.ClassName}", "error.message": "%ex{short.message}", "error.stack": "%ex{full}","logger": "%logger"}\n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>



